/* Global Layout Set-up */

*{
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  color: #34515E;

}



h3 {
  color: #550055;
}

/* Background image */

header {
  background-image: linear-gradient(to top, rgba(229, 93, 135, .6), rgba(95, 195, 228, .6)),  url("../images/background-2-modified.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
}

h3 {
  color: rgb(85,143,185);
}


/* Navigation */


.navbar-brand,
.nav-item {
color:  #ffffff;
font-size:  1rem;
}



.navbar-brand:hover {
  color: #EFEFEF;


}

.nav-link:hover {
  color: #EFEFEF;
}

.svg-logo {
  width: 50px;
  height: 50px;


}

/* Curly brackets effect on hover */

.hover-effect a::before,
.hover-effect a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.hover-effect a::before {
  margin-right: 10px;
  content: "{";
  -webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.hover-effect a::after {
  margin-left: 10px;
  content: "}";
  -webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);

}

 .hover-effect a:hover::before,
 .hover-effect a:hover::after,
 .hover-effect a:focus::before,
 .hover-effect a:focus::after {
   opacity: 1;
   color: #EFEFEF;
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   transform: translateX(0px);
 }

/* HERO HEADING AND TEXT */


.hero-header {
  color: 	#ffffff;
  text-align: center;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: rgba(85,143,185, .6);
  border-radius: 5px;
}


.hero-heading {

  font-size: 1.5rem;
}

.hero-text {
  font-style: italic;
}


/* ARROW SVG */

.arrows {
	width: 60px;
	height: 75px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 2px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari  Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari Chrome */
}









/* ABOUT ME */

.about,
.skills,
.portfolio,
.contact
 {
  text-align: center;
  margin: 50px;
  font-style: italic;
  font-family: 'Fredericka the Great', cursive;
  color: #EBB834;
}



.profile-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-bottom: 20px;


}





.text-introduction {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #558FB9;
  font-family: 'Fredericka the Great', cursive;

}


    /* Hexagon with profile photo */


.hexagon {
  width: 300px;
  height: 200px;
  background: blue;
  transform:rotate(120deg);
  -moz-transform:rotate(120deg);
  -o-transform:rotate(120deg);
  -ms-transform:rotate(120deg);
  -webkit-transform:rotate(120deg);
  position:relative;
  overflow: hidden;
  visibility: hidden;


}

.hexagon-inside {
  width: 100%;
  height: 100%;
  background: pink;
  transform: rotate(-60deg);
  -moz-transform:rotate(-60deg);
  -o-transform:rotate(-60deg);
  -ms-transform:rotate(-60deg);
  -webkit-transform:rotate(-60deg);
  overflow: hidden;
}

.hexagon-image {
  width: 100%;
  height: 100%;
  background-image:url(../images/profile-photo.JPG);
  background-position:center;
  background-size: 70% 100%;
  transform: rotate(-60deg);
  -moz-transform:rotate(-60deg);
  -o-transform:rotate(-60deg);
  -ms-transform:rotate(-60deg);
  -webkit-transform:rotate(-60deg);
  visibility: visible;
  margin: 0 auto;
}




/* SKILLS */

.skills {

  margin-bottom: 40px;

}

.svg-icon {
  width: 80px;
  display: block;
  margin: 0 auto;


}

.skills-container {
  text-align: center;
}

.skills-container h5 {
  margin: 20px;
}

.skills-container p {
 margin: 15px 20px;
 font-size: .8rem;
}


/* PORTFOLIO */

.portfolio-project {
  margin-bottom: 50px;
}

.portfolio-project h5 {
  margin: 10px;
  text-align: center;
}

.project-text {
  font-size: 0.8rem;
  text-align: center;
}

.project-button a {
 text-decoration: none;
  color:#34515E;

}



/* PORTFOLIO image overlay */



.container{
max-width: 100%;
padding: 0;
text-align: center;
margin-bottom: 50px;
margin-top: 50px;


}




.content-details h5 {
  color: #34515E;
  margin-top: 20px;
}



.project-text {
  color: #34515E;
  margin-top: 10px;
}

/* CONTACT */

.contact {
  border-collapse: separate;
  border-spacing: 16px 0;
  border-spacing: 1rem 0;
   line-height: .25;
  white-space: nowrap;
  width: 100%;
  display: table;
  margin: 1em 0 .5em;
  table-layout: auto;
  text-align: center;
}

.contact:before,
.contact:after {
  border-top: 3px double #EBB834;
  content: '';
  display: table-cell;
  width: 50%;
  border-top-width: 6px;
}

.contact-h {
  padding: 20px;
  color:  #a8a8a8;
  font-size: 1.1rem;
  text-align: center;


}

.contact-h a {
  color:#EBB834;
  font-family: 'Fredericka the Great', cursive;
  text-decoration: none;


}

.container-contact h5 {
  text-align: center;
  font-weight: bold;
  margin: 50px;
  color:  #a8a8a8;



}

/* Hover effect scale*/


 .contact-h a {
  display: inline-block;
  text-decoration: none;
  position: relative;
}


.contact-h a:hover {
 transition: transform 0.4s ease-in;
 transform:scale(1.1) ;

}



/* SVG Icons animation, create pulse effect on hover*/

.contact-icon {
  padding-bottom: 20px;
}

.drawn-logo {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}



.contact-icon .drawn-logo {
  background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.contact-icon .drawn-logo:after {
  top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.contact-icon .drawn-logo:hover {
  background: rgba(255,255,255,0.05);
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  color: #fff;
}

.contact-icon .drawn-logo:hover:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}




/* FOOTER */

.footer {
  font-size: .6rem;
  font-style: italic;
text-align: center;
background-color: #3B3F45;
color: #fff;
padding-top: 20px;

}





.copyright {
  display: block;
  margin-bottom: 0;
  padding-bottom: 5px;
  color: #a8a8a8;

}



@media screen and (min-width: 720px) {

header {
  height: 100%;
}

/* Navigation */

.navbar {
  padding-top: 20px;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-item {
font-size: 1.4rem;
margin-left: 1rem;
margin-right: 1rem;
}

.svg-logo {
  width: 125px;
  height: 125px;
  margin-left: 80px;

}



/* HERO HEADING AND TEXT */
.hero-header {
  width: 600px;
  height: 300px;
  margin-top: 150px;
}

.hero-heading {

  font-size: 2rem;
}

.hero-text {
  font-style: italic;
  font-size: 1.6rem;
}

/* ARROW SVG */
.arrows {
	width: 150px;
	height: 175px;
  bottom: -75px;

}

.about {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Hexagon width and height adjust for tabled  */

.hexagon {
  width: 300px;
  height: 200px;
}

.hexagon-image {
 background-size: 60% 100%;
}


.image-container {
margin-top: auto;
margin-bottom: auto;
}





/* Skills  */

.skills-container {
  margin-top: 100px;
}



/* PORTFOLIO */



.container-projects  {
 display: flex;
 flex-wrap: wrap;
 padding: 2px;

}



.container {
  width: 300px;

}

.content {
  max-height: 400px;

}

.content-image {

  max-height: 200px;


}


/* CONTACT */

.contact-h {
  font-size: 1.4rem;
}



  .drawn-logo {
    width: 50px;
    height: 50px;
  margin: 20px 10px;




  }



/* FOOTER */

.copyright {
  font-size: .8rem;
}

}






@media screen and (min-width: 1280px) {

  header {
    height: 100%;
  }

  /* HERO HEADING AND TEXT */


  .hero-header {
    margin-top: 50px;
  }

/* ABOUT ME and SKILLS */

  .img-container {
    margin: 0 auto;
    width:200px;


  }

  .text-container {
    width: 60%;
    text-align: center;
  }

  .text {
    font-size: 1.2rem;
  }

  .text-introduction {
    font-size: 1.4rem;
  }



  .skills-container p {
      width: 50%;
      text-align: center;
      margin: 0 auto;
      font-size: 1rem;
    }

    /* Hexagon width and height adjust for desktop  */

    .hexagon {
      width: 500px;
      height: 350px;
    }

    .hexagon-image {
     background-size: 70% 100%;
    }




    /* PORTFOLIO */


.container-portfolio {
  margin-top: 100px;
  width: 80%;
}



    .container {
      width: 400px;

    }


.content-image {
  max-height: 300px;
}


    .content {
      position: relative;
      width: 100%;
      max-width: 400px;
      margin: auto;


    }

    .content .content-overlay {
      background: rgba(0,0,0,0.7);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out 0s;
     -moz-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s;
    }

    .content:hover .content-overlay {
      opacity: 1;

    }



    .content-details {

      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .content:hover .content-details{
      top: 50%;
      left: 50%;
      opacity: 1;
    }

    .content-details h5{
      color: #fff;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
    }

    .content-details p{
      color: #fff;
      font-size: 0.8em;
    }


    .project-button a {
      color: #fff;
    }



  /* Contact */







}
